export const metainfoApiUrl = '/api'
export const uiBasePath = 'ui'
export const maxRelatedShown = 5

export const jenkinsBaseUrl = 'https://ktm324.gre.hpecorp.net/jenkins'
export const jenkinsBaseUrlForNhssPromotion = 'https://cmsgvm35.gre.hpecorp.net/jenkins'
